body {
  background-color: #f4f4f4;
}

.header {
  display: block;

  padding: 1rem 0;

  background-color: rgba( 0, 0, 0, .8 );
  color: white;
}

.section {
  display: block;

  padding: 4rem 0;

  background-color: white;
}

.section--grey {
  background-color: #f4f4f4;
}

.MuiFormControl-root {
  border-radius: 5px;
}

.MuiFormControl-root .MuiButton-sizeLarge {
  padding: 15px 22px;
}